@import './colors.scss';

.home__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;

  @media (max-width: 960px) {
    width: 610px;
  }

  @media (max-width: 610px) {
    width: 360px;
  }

  .home-navigation {
    align-self: flex-start;
    margin: 25px 0;
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 960px) {
      justify-content: center;
      align-self: center;
      width: 610px;
      margin: 15px 0;
    }

    @media (max-width: 610px) {
      justify-content: center;
      align-self: center;
      width: 360px;
    }

    .home-navigation__link {

      &:hover {
        cursor: pointer;
        color: $main-color-2;
      }
    }
  }

  .heading__wrapper {
    width: 960px;
    display: flex;
    margin: 175px 0;

    @media (max-width: 960px) {
      width: 610px;
    }

    @media (max-width: 610px) {
      width: 360px;
    }

    .heading-title__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      .heading-title {
        text-align: center;
        font-weight: normal;
        font-size: 3.5rem;

        @media (max-width: 960px) {
          font-size: 1.75rem;
        }
      }

      .heading-buttons__wrapper {
        display: flex;
        gap: 25px;

        @media (max-width: 960px) {
          flex-direction: column;
        }
      }
    }

    .heading-image__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      .heading-image {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  .about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $main-color-2;
    border-radius: 10px;
    margin-bottom: 250px;

    @media (max-width: 960px) {
      width: 610px;
      margin-bottom: 100px;
    }

    @media (max-width: 610px) {
      width: 360px;
    }

    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin: 75px 0;

      .about-title {
        font-size: 3rem;

        @media (max-width: 960px) {
          font-size: 1.5rem;
        }
      }

      .about-text {
        font-size: 1.25rem;
        margin: 0;
        text-align: justify;

        @media (max-width: 960px) {
          font-size: 1rem;
        }
      }
    }
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 250px;
    background-color: $main-color-1;
    border-radius: 10px;

    @media (max-width: 960px) {
      width: 610px;
      margin-bottom: 100px;
    }

    @media (max-width: 610px) {
      width: 360px;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin: 75px 0;

      .contacts-title {
        font-size: 3rem;
        color: whitesmoke;

        @media (max-width: 960px) {
          font-size: 1.5rem;
        }
      }

      .contacts-text {
        color: whitesmoke;
        width: 100%;
        font-size: 1.25rem;
        margin: 0 100px;

        &:hover {
          color: $main-color-2;
        }

        @media (max-width: 960px) {
          font-size: 1rem;
        }
      }
    }
  }
}