.home__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
}
@media (max-width: 960px) {
  .home__wrapper {
    width: 610px;
  }
}
@media (max-width: 610px) {
  .home__wrapper {
    width: 360px;
  }
}
.home__wrapper .home-navigation {
  align-self: flex-start;
  margin: 25px 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 960px) {
  .home__wrapper .home-navigation {
    justify-content: center;
    align-self: center;
    width: 610px;
    margin: 15px 0;
  }
}
@media (max-width: 610px) {
  .home__wrapper .home-navigation {
    justify-content: center;
    align-self: center;
    width: 360px;
  }
}
.home__wrapper .home-navigation .home-navigation__link:hover {
  cursor: pointer;
  color: #fbc43c;
}
.home__wrapper .heading__wrapper {
  width: 960px;
  display: flex;
  margin: 175px 0;
}
@media (max-width: 960px) {
  .home__wrapper .heading__wrapper {
    width: 610px;
  }
}
@media (max-width: 610px) {
  .home__wrapper .heading__wrapper {
    width: 360px;
  }
}
.home__wrapper .heading__wrapper .heading-title__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.home__wrapper .heading__wrapper .heading-title__wrapper .heading-title {
  text-align: center;
  font-weight: normal;
  font-size: 3.5rem;
}
@media (max-width: 960px) {
  .home__wrapper .heading__wrapper .heading-title__wrapper .heading-title {
    font-size: 1.75rem;
  }
}
.home__wrapper .heading__wrapper .heading-title__wrapper .heading-buttons__wrapper {
  display: flex;
  gap: 25px;
}
@media (max-width: 960px) {
  .home__wrapper .heading__wrapper .heading-title__wrapper .heading-buttons__wrapper {
    flex-direction: column;
  }
}
.home__wrapper .heading__wrapper .heading-image__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.home__wrapper .heading__wrapper .heading-image__wrapper .heading-image {
  width: 100%;
  border-radius: 50%;
}
.home__wrapper .about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fbc43c;
  border-radius: 10px;
  margin-bottom: 250px;
}
@media (max-width: 960px) {
  .home__wrapper .about__wrapper {
    width: 610px;
    margin-bottom: 100px;
  }
}
@media (max-width: 610px) {
  .home__wrapper .about__wrapper {
    width: 360px;
  }
}
.home__wrapper .about__wrapper .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 75px 0;
}
.home__wrapper .about__wrapper .about .about-title {
  font-size: 3rem;
}
@media (max-width: 960px) {
  .home__wrapper .about__wrapper .about .about-title {
    font-size: 1.5rem;
  }
}
.home__wrapper .about__wrapper .about .about-text {
  font-size: 1.25rem;
  margin: 0;
  text-align: justify;
}
@media (max-width: 960px) {
  .home__wrapper .about__wrapper .about .about-text {
    font-size: 1rem;
  }
}
.home__wrapper .contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 250px;
  background-color: #833de7;
  border-radius: 10px;
}
@media (max-width: 960px) {
  .home__wrapper .contacts__wrapper {
    width: 610px;
    margin-bottom: 100px;
  }
}
@media (max-width: 610px) {
  .home__wrapper .contacts__wrapper {
    width: 360px;
  }
}
.home__wrapper .contacts__wrapper .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 75px 0;
}
.home__wrapper .contacts__wrapper .contacts .contacts-title {
  font-size: 3rem;
  color: whitesmoke;
}
@media (max-width: 960px) {
  .home__wrapper .contacts__wrapper .contacts .contacts-title {
    font-size: 1.5rem;
  }
}
.home__wrapper .contacts__wrapper .contacts .contacts-text {
  color: whitesmoke;
  width: 100%;
  font-size: 1.25rem;
  margin: 0 100px;
}
.home__wrapper .contacts__wrapper .contacts .contacts-text:hover {
  color: #fbc43c;
}
@media (max-width: 960px) {
  .home__wrapper .contacts__wrapper .contacts .contacts-text {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=homePage.css.map */
