@import './colors.scss';

#navigation {
  display: flex;
  margin: 25px 0;
  width: 960px;

  @media (max-width: 960px) {
    margin: 15px 0;
    justify-content: center;
    width: 610px;
  }

  @media (max-width: 610px) {
    width: 360px;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;

    .navigation-not-active {

      &:hover {
        color: $main-color-2;
      }
    }

    .navigation-active {
      color: $main-color-1;

      &:hover {
        color: $main-color-2;
      }
    }

    .navigation-arrow {
      margin-right: 10px;
    }
  }
}